*{
	margin: 0;
	padding: 0;
	font-family: 'poppoins',san-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #0c061e;
	overflow: hidden;
}
ul{
	position: relative;
	display: flex;
	flex-direction: column;
}
ul li{
	list-style: none;
}
ul li:before
{
	content: attr(data-text);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 10em;
	font-weight: 500;
	pointer-events: none;
	opacity: 0;
	letter-spacing: 30px;
	transaction:1s;
	white-space: nowrap;
}
ul li:hover:before
{
	opacity: 0.50;
	letter-spacing: 0.20px;
	transition-duration: 0.75s;
	transition-delay: 0.2s;
}
ul li a
{
	position: relative;
	display: inline-block;
	padding: 0px 15px;
	text-decoration: none;
	background: #ef0a83;
	color: #fff;
	text-transform: none;
	letter-spacing: 2px;
	overflow: hidden;
	transition: 0.4s;
	z-index: 1;
	border-radius: 5px 10px;
	font-size: 28px; 	
}
ul:hover li a 
{
	opacity: 0;
}
ul li a:hover
{
	transform: scale(1.4);
	z-index: 1000;
	background: #0d865f;
	color: white;
	opacity: 1.75;
	font-size: 32px;
}
ul li a:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 100%;
	background: linear-gradient(90deg,transparent,rgba(0,0,0,0.8);
	transform: skew(35deg);
		transition: 0.75s;
}
ul li a:hover:before
{
	left: calc(100% + 100px);
	transition: 0.5s;
	transition-delay: 0.2s;
}
